body {
background: #ebebe0;
margin: 0;
font-family: helvetica;
}

h1 {
	background: #7a7a52;
	margin: 0;
	height: 100px;
	color: #ebebe0;
	font-size: 60px;
	line-height: 100px;
}

#page {
	background: #ebebe0;
	margin-top: 100px;
}

#center {
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	background: white;
	text-align: center;
	padding: 20px;
	border-radius: 3px;
}

input {
	margin: 10px;
	height: 20px;

}

#box {
	width: 293px;
	height: 26px;
	background: #7a7a52;
	color: #ebebe0;
	border: #7a7a52 2px solid;
	border-radius: 2px;
}

a {
	text-decoration: none;
	font-size: 15px;
}

a:hover {
	text-decoration: underline;
}

#box:hover {
	background: #5b5b3e;
}


@media (max-width: 500px) {
	h1 {
	background: #7a7a52;
	margin: 0;
	height: 70px;
	color: #ebebe0;
	font-size: 40px;
	line-height: 70px;
}

#page {
	background: #ebebe0;
	margin-top: 50px;
}

#center {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	background: white;
	text-align: center;
	padding: 20px;
	border-radius: 3px;
}
}